body { font-size: 20px; color: #212529; font-family: 'Lora', 'Times New Roman', serif; }

p { line-height: 1.5; margin: 30px 0; }
p a { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: 800; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a { color: #212529; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; transition: all 0.2s; }
a:focus, a:hover { color: #0085A1; }

blockquote { font-style: italic; color: #868e96; }

.section-heading { font-size: 36px; font-weight: 700; margin-top: 60px; }

.caption { font-size: 14px; font-style: italic; display: block; margin: 0; padding: 10px; text-align: center; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

::-moz-selection { color: #fff; background: #0085A1; text-shadow: none; }

::selection { color: #fff; background: #0085A1; text-shadow: none; }

img::selection { color: #fff; background: transparent; }

img::-moz-selection { color: #fff; background: transparent; }

#mainNav { position: absolute; border-bottom: 1px solid #e9ecef; background-color: white; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
#mainNav .navbar-brand { font-weight: 800; color: #343a40; }
#mainNav .navbar-toggler { font-size: 12px; font-weight: 800; padding: 13px; text-transform: uppercase; color: #343a40; }
#mainNav .navbar-nav > li.nav-item > a { font-size: 12px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; }
@media only screen and (min-width: 992px) { #mainNav { border-bottom: 1px solid transparent; background: transparent; }
  #mainNav .navbar-brand { padding: 10px 20px; color: #fff; }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover { color: rgba(255, 255, 255, 0.8); }
  #mainNav .navbar-nav > li.nav-item > a { padding: 10px 20px; color: #fff; }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover { color: rgba(255, 255, 255, 0.8); } }
@media only screen and (min-width: 992px) { #mainNav { -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; transition: background-color 0.2s; /* Force Hardware Acceleration in WebKit */ -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; }
  #mainNav.is-fixed { /* when the user scrolls down, we hide the header right above the viewport */ position: fixed; top: -67px; -webkit-transition: -webkit-transform 0.2s; -moz-transition: -moz-transform 0.2s; transition: transform 0.2s; border-bottom: 1px solid white; background-color: rgba(255, 255, 255, 0.9); }
  #mainNav.is-fixed .navbar-brand { color: #212529; }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover { color: #0085A1; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a { color: #212529; }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover { color: #0085A1; }
  #mainNav.is-visible { /* if the user changes the scrolling direction, we show the header */ -webkit-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); } }

header.masthead { margin-bottom: 50px; background: no-repeat center center; background-color: #868e96; background-attachment: scroll; position: relative; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
header.masthead .overlay { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: #212529; opacity: 0.5; }
header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 200px 0 150px; color: white; }
@media only screen and (min-width: 768px) { header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading { padding: 200px 0; } }
header.masthead .page-heading, header.masthead .site-heading { text-align: center; }
header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 50px; margin-top: 0; }
header.masthead .page-heading .subheading, header.masthead .site-heading .subheading { font-size: 24px; font-weight: 300; line-height: 1.1; display: block; margin: 10px 0 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
@media only screen and (min-width: 768px) { header.masthead .page-heading h1, header.masthead .site-heading h1 { font-size: 80px; } }
header.masthead .post-heading h1 { font-size: 35px; }
header.masthead .post-heading .meta, header.masthead .post-heading .subheading { line-height: 1.1; display: block; }
header.masthead .post-heading .subheading { font-size: 24px; font-weight: 600; margin: 10px 0 30px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
header.masthead .post-heading .meta { font-size: 20px; font-weight: 300; font-style: italic; font-family: 'Lora', 'Times New Roman', serif; }
header.masthead .post-heading .meta a { color: #fff; }
@media only screen and (min-width: 768px) { header.masthead .post-heading h1 { font-size: 55px; }
  header.masthead .post-heading .subheading { font-size: 30px; } }

.post-preview > a { color: #212529; }
.post-preview > a:focus, .post-preview > a:hover { text-decoration: none; color: #0085A1; }
.post-preview > a > .post-title { font-size: 30px; margin-top: 30px; margin-bottom: 10px; }
.post-preview > a > .post-subtitle { font-weight: 300; margin: 0 0 10px; }
.post-preview > .post-meta { font-size: 18px; font-style: italic; margin-top: 0; color: #868e96; }
.post-preview > .post-meta > a { text-decoration: none; color: #212529; }
.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover { text-decoration: underline; color: #0085A1; }
@media only screen and (min-width: 768px) { .post-preview > a > .post-title { font-size: 36px; } }

.floating-label-form-group { font-size: 14px; position: relative; margin-bottom: 0; padding-bottom: 0.5em; border-bottom: 1px solid #dee2e6; }
.floating-label-form-group input, .floating-label-form-group textarea { font-size: 1.5em; position: relative; z-index: 1; padding: 0; resize: none; border: none; border-radius: 0; background: none; box-shadow: none !important; font-family: 'Lora', 'Times New Roman', serif; }
.floating-label-form-group input::-webkit-input-placeholder, .floating-label-form-group textarea::-webkit-input-placeholder { color: #868e96; font-family: 'Lora', 'Times New Roman', serif; }
.floating-label-form-group label { font-size: 0.85em; line-height: 1.764705882em; position: relative; z-index: 0; top: 2em; display: block; margin: 0; -webkit-transition: top 0.3s ease, opacity 0.3s ease; -moz-transition: top 0.3s ease, opacity 0.3s ease; -ms-transition: top 0.3s ease, opacity 0.3s ease; transition: top 0.3s ease, opacity 0.3s ease; vertical-align: middle; vertical-align: baseline; opacity: 0; }
.floating-label-form-group .help-block { margin: 15px 0; }

.floating-label-form-group-with-value label { top: 0; opacity: 1; }

.floating-label-form-group-with-focus label { color: #0085A1; }

form .form-group:first-child .floating-label-form-group { border-top: 1px solid #dee2e6; }

footer { padding: 50px 0 65px; }
footer .list-inline { margin: 0; padding: 0; }
footer .copyright { font-size: 14px; margin-bottom: 0; text-align: center; }

.btn { font-size: 14px; font-weight: 800; padding: 15px 25px; letter-spacing: 1px; text-transform: uppercase; border-radius: 0; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-primary { background-color: #0085A1; border-color: #0085A1; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active { color: #fff; background-color: #00657b !important; border-color: #00657b !important; }

.btn-lg { font-size: 16px; padding: 25px 35px; }

/*  All fonts are set to Asap to match smartdown fonts. */
h1, h2, h3, h4, h5, h6, p, body { font-family: 'Asap', 'Open Sans', Arial, sans-serif !important; }

/************************************************************************* PAGE HEADERS: - first we adjust the main header - we add a narrow header - and a no header option
**************************************************************************/
header.masthead { background-color: transparent !important; }
header.masthead .post-heading .subheading { font-weight: 600; font-size: 24px; }
@media only screen and (max-width: 768px) { header.masthead .post-heading .subheading { font-weight: 200; font-size: 18px; } }
header.masthead .post-heading img { height: 150px; }
@media only screen and (max-width: 768px) { header.masthead .post-heading img { height: 80px; } }

.narrow-heading { padding: 80px 0 60px 0 !important; }
@media only screen and (min-width: 768px) { .narrow-heading { padding: 80px 0 60px 0 !important; } }

.noheader { margin-bottom: 60px !important; }

.noheadernav a { color: #444 !important; }

.home .overlay { background-color: #BBBBBB !important; opacity: 0.3 !important; }

.app-wrapper { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: -1 !important; }

/************************************************************************* formatting for multi column layout. 

**************************************************************************/
.playable-2-col { padding-top: 10px; }

.playable-3-col { padding-top: 10px; }

.text-2-col { padding-left: 20px; padding-right: 20px; font-size: 20px; }

.text-2-col ol { line-height: 25px; }

.text-2-col ol li { list-style-position: outside; margin: 0 0 10px 30px; }

.text-3-col { padding-left: 20px; padding-right: 20px; font-size: 18px; }

.text-3-col-small-font { padding-left: 20px; padding-right: 20px; font-size: 14px; }

@media (min-width: 800px) { .playable-2-col { width: 50%; display: inline-block; vertical-align: top; }
  .playable-3-col { width: 32%; display: inline-block; vertical-align: top; }
  .text-2-col { width: 48%; display: inline-block; vertical-align: top; }
  .text-3-col { width: 32%; display: inline-block; vertical-align: top; }
  .text-3-col-small-font { width: 28%; display: inline-block; vertical-align: top; font-size: 16px; } }
/************************************************************************* highlight classes for mapping text formulas to graph elements

**************************************************************************/
.highlightOnWide { background-color: #55DDFF; padding: 16px !important; border-radius: 5px !important; border: 1px solid #66CCEE !important; }

.highlightOffWide { background-color: #EEF9FF; padding: 16px !important; border-radius: 5px; border: 1px solid #DDE9EE !important; }

.highlightOnNarrow { background-color: #55DDFF; padding: 2px 10px !important; border-radius: 5px; border: 1px solid #88CCEE !important; }

.highlightOffNarrow { background-color: #EEF9FF !important; padding: 2px 10px !important; border-radius: 5px; border: 1px solid #DDE9EE !important; }

/************************************************************************* formating for the lesson navigation

**************************************************************************/
.tabrow { text-align: center; list-style: none; margin-bottom: 20px; padding: 0; line-height: 24px; height: 26px; overflow: hidden; font-size: 12px; font-family: verdana; position: relative; }

.tabrow li { border: 1px solid #AAA; background: #D1D1D1; background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%); display: inline-block; position: relative; z-index: 0; border-top-left-radius: 6px; border-top-right-radius: 6px; box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF; text-shadow: 0 1px #FFF; margin: 0 -5px; padding: 0 20px; }

.tabrow a { color: #555; text-decoration: none; }

.tabrow li.selected { background: #FFF; color: #333; z-index: 2; border-bottom-color: #FFF; }

.tabrow:before { position: absolute; content: " "; width: 100%; bottom: 0; left: 0; border-bottom: 1px solid #DDD; z-index: 1; }

.tabrow li:before, .tabrow li:after { border: 1px solid #AAA; position: absolute; bottom: -1px; width: 5px; height: 5px; content: " "; }

.tabrow li:before { left: -6px; border-bottom-right-radius: 6px; border-width: 0 1px 1px 0; box-shadow: 2px 2px 0 #D1D1D1; }

.tabrow li:after { right: -6px; border-bottom-left-radius: 6px; border-width: 0 0 1px 1px; box-shadow: -2px 2px 0 #D1D1D1; }

.tabrow li.selected:before { box-shadow: 2px 2px 0 #FFF; }

.tabrow li.selected:after { box-shadow: -2px 2px 0 #FFF; }

/************************************************************************* formatting for the credits footer  

**************************************************************************/
.credits { width: 100%; background: #EEE; border: 2px solid #DDD; text-align: center; list-style: none; margin-top: 50px; padding: 50px 0 60px 0; }

.credits p { margin: 0px; }

.credits li { display: inline-block; position: relative; z-index: 0; padding: 0 25px 0 25px; }

/************************************************************************* jsxgraph css 

**************************************************************************/
.jsxgraph-instructions { border: 2px solid #CCC; background-color: #FFFFFF; padding: 10px; border-radius: 5px; box-shadow: 0 5px 5px #999; }

.jsxgraph-alert { border: 1px solid #FF8888; background-color: #FFEEEE; color: #FF4444 !important; padding: 5px; border-radius: 5px; }

/************************************************************************* Calculus Theme

**************************************************************************/
.smartdown-container .disclosable-trigger-tooltip-wrapper .disclosable-trigger-tooltip { color: #EEAA33 !important; xcolor: #639ad7; }

.smartdown-container .decoration-outlinebox { color: #333 !important; background: #FFF !important; border: 1px solid #DDD !important; padding-top: 30px !important; padding-left: 30px !important; padding-right: 30px !important; padding-bottom: 30px !important; border-radius: 0px !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }

.smartdown-container .decoration-colorbox { background: #66AAFF !important; border: none !important; padding-top: 30px !important; padding-left: 30px !important; padding-right: 30px !important; padding-bottom: 30px !important; border-radius: 0px !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }

.smartdown-container .decoration-partialborder { color: #333 !important; background: #FFD !important; border: 2px solid #EEAA55 !important; padding-top: 30px !important; padding-left: 30px !important; padding-right: 30px !important; padding-bottom: 30px !important; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; }

.smartdown-container .decoration-aliceblue { color: #333 !important; background: #EEF7FF !important; border: 2px solid #55AAEE !important; padding-top: 30px !important; padding-left: 30px !important; padding-right: 30px !important; padding-bottom: 30px !important; border-radius: 0px !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }

.smartdown-container .disclosable-wrapper { border-radius: 10px !important; }
.smartdown-container .disclosable-wrapper.disclosable-lightbox { outline: none !important; box-shadow: 0px 0 0 1000px rgba(0, 0, 0, 0.3) !important; }
.smartdown-container .disclosable-wrapper .disclosable-content { border: none !important; background: #FFF !important; border-bottom-left-radius: 10px !important; border-bottom-right-radius: 10px !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }
.smartdown-container .disclosable-wrapper .disclosable-content.disclosable-outline-draggable-content { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; }
.smartdown-container .disclosable-wrapper .disclosable-content.disclosable-outline-draggable-content > div { border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; padding-top: 10px !important; }
.smartdown-container .disclosable-wrapper .disclosable-content.disclosable-shadow-content { box-shadow: 0 3px 2px rgba(255, 0, 0, 0.1), 0 7px 5px rgba(0, 0, 0, 0.1), 0 12px 10px rgba(0, 0, 0, 0.1), 0 22px 18px rgba(0, 0, 0, 0.1), 0 42px 33px rgba(0, 0, 0, 0.1) !important; }
.smartdown-container .disclosable-wrapper .disclosable-content.disclosable-scrollable-content { height: 80% !important; }
.smartdown-container .disclosable-wrapper.disclosable-position { max-width: 80%; padding: 20px; }
.smartdown-container .disclosable-wrapper.disclosable-position .disclosable-header { cursor: move; border-radius: 0px !important; border: none !important; background: #EEE !important; border-top: 1px solid #DDD !important; border-left: 1px solid #DDD !important; border-right: 1px solid #DDD !important; border-top-left-radius: 10px !important; border-top-right-radius: 10px !important; }
.smartdown-container .disclosable-wrapper.disclosable-position .disclosable-header button.disclosable-button-close { background: #EEE !important; border-radius: 2px !important; border: none !important; height: 18px !important; margin: 4px 0px 4px 8px !important; padding: 0 4px 3px 4px !important; }
.smartdown-container .disclosable-wrapper.disclosable-position .disclosable-header button.disclosable-button-close:hover { background: #CCC !important; }
.smartdown-container .disclosable-wrapper.disclosable-position.disclosable-scrollable { height: 80% !important; }
